.search-bar {
    display: flex;
	height:45px;
	margin-bottom:30px;
}

.search-input {
    width: 90%;
    height: 100%;
    padding: 1em .5em;
    border: 1px solid #f0f0f1;
	border-radius: 16px;
    box-sizing: content-box;
	margin-right:1em;
}

.search-input::placeholder {
	color:#f0f0f1;
}

.search-input.error {
    border: 1px solid #dd2233;
}

.biblia-services-button {
    display: inline-flex;
	height:100%;
	justify-content: center;
    align-items: center;
    padding: 1em .5em;
    background: red;
    border: none;
	color:white;
    border-radius: 16px;
    min-width: 100px;
    cursor: pointer;
}

.biblia-services-button:disabled {
    cursor: not-allowed;
}

.search-error {
    color: #dd2233;
    text-align: center;
}

.button-spinner {
    width: 24px;
    height: 24px;
    border: 5px solid black;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.biblia-services-result {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    margin-bottom: 1em;
    border: 1px solid #f0f0f1;
	border-radius:16px;
	box-shadow:0px 0px 30px -20px black;
    padding: 1em;
}

.biblia-services-result-main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.biblia-services-result-cover {
    min-width: 240px;
    max-width: 240px;
    flex-basis: 240px;
}

.biblia-services-result-cover img {
    height: 100%;
    max-width: 100%;
}

.biblia-services-submit-form {
    margin-left: auto;
}

.book-isbn::before {
	content: "ISBN-13:";
	font-weight:700;
}

.book-pub-name::before {
	content: "Εκδόσεις:";
	font-weight:700;
}

.book-pub-year::before {
	content: "Έτος:";
	font-weight:700;
}
